<%# Accepts: addon (required), line_item (required) %>

<div id="<%= dom_id(addon) %>" class="d-flex flex-column gap-3">
  <%= form_with model: [line_item, addon], class: "addon-form" do |f| %>
    <div class="row g-2 mb-3">
      <div class="col-12 col-sm-6">
        <%= f.text_field :description, class: "form-control form-control-sm", placeholder: "Description" %>
      </div>
      <div class="col-6 col-sm-3">
        <div class="input-group input-group-sm">
          <span class="input-group-text">$</span>
          <%= f.number_field :unit_price, step: 0.01, class: "form-control form-control-sm", placeholder: "Price" %>
        </div>
      </div>
      <div class="col-6 col-sm-3">
        <%= f.number_field :quantity, min: 1, class: "form-control form-control-sm", placeholder: "Qty" %>
      </div>
    </div>

    <div class="row g-2">
      <div class="col-6 col-sm-3">
        <div class="input-group input-group-sm">
          <span class="input-group-text">-$</span>
          <%= f.number_field :discount, step: 0.01, min: 0, class: "form-control form-control-sm", placeholder: "Discount" %>
        </div>
      </div>
      <div class="col-6 col-sm-6">
        <%= f.text_field :discount_description, class: "form-control form-control-sm", placeholder: "Discount reason" %>
      </div>
      <div class="col-12 col-sm-3">
        <div class="d-flex gap-1">
          <%= button_to "Cancel", line_item_addon_path(line_item, addon), method: :get, class: "btn btn-sm btn-secondary flex-grow-1", data: { turbo_stream: true } %>
          <%= f.submit "Save", class: "btn btn-sm btn-primary flex-grow-1" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
