<%# Accepts: line_item (required), check (optional - will be derived from line_item if not provided), participants (optional - will be queried if not provided), show_zero_items (optional - defaults to true) %>
<% check ||= line_item.check %>
<% participants ||= check.participants.order(:name) %>
<% show_zero_items = local_assigns.fetch(:show_zero_items, true) %>

<li id="<%= dom_id(line_item) %>" class="list-group-item py-3 px-3 d-flex flex-column gap-3">
  <%= render partial: "line_items/line_item_content", locals: { line_item: line_item, check: check } %>

  <% line_item.addons.each do |addon| %>
    <% next if !show_zero_items && addon.total_price == 0 %>
    <%= render partial: "addons/addon", locals: { addon: addon, line_item: line_item } %>
  <% end %>

  <div class="d-flex flex-wrap gap-3" data-controller="checkbox-toggle" data-checkbox-toggle-url-value="<%= toggle_participant_line_item_path(line_item) %>">
    <% participants.each do |participant| %>
      <div class="form-check form-switch m-0">
        <%= check_box_tag "participant_#{participant.id}",
            participant.id,
            line_item.participant_ids.include?(participant.id),
            id: "item_#{line_item.id}_participant_#{participant.id}",
            class: "form-check-input",
            role: "switch",
            data: { action: "change->checkbox-toggle#toggle" } %>
        <%= label_tag "item_#{line_item.id}_participant_#{participant.id}",
            participant.name,
            class: "form-check-label small" %>
      </div>
    <% end %>
  </div>
</li>
